mainmenu "CogniPilot - SPINALI - MR_MCXN_t1 test"
menu "Zephyr"
source "Kconfig.zephyr"
endmenu

menu "Optical flow add-on board"

config OFLO_ADDON
  bool "Enable optical flow add-on test"
  help
    Enable the test to verify functionality of the optical flow add-on board. 
    In order for this to work the add-on board should be attached to the base.

# source "subsys/logging/Kconfig.template.log_config"
endmenu