# Copyright (c) 2023, CogniPilot Foundation
# SPDX-License-Identifier: Apache-2.0

mainmenu "CogniPilot - SPINALI - BOARD_TEST"
menu "Zephyr"
source "Kconfig.zephyr"
endmenu

menu "IMU ICM45686"

config ENABLE_STREAMING
  bool "enable streaming"
  depends on RTIO
  help
    Enable streaming data from ICM45686

config ENABLE_GYRO
    bool "enable gyroscope"
    help
        Enable gyroscope.

config ENABLE_ACCEL
    bool "enable accelerometer"
    help
        Enable accelerometer

module = SPINALI_OPTICAL_FLOW
module-str = spinali_optical_flow
source "subsys/logging/Kconfig.template.log_config"
endmenu
