# Copyright (c) 2023, CogniPilot Foundation
# SPDX-License-Identifier: Apache-2.0

menuconfig SPINALI_SENSE_POWER
  bool "Power"
  depends on ZROS
  help
    This option enables power sensor.

if SPINALI_SENSE_POWER

module = SPINALI_SENSE_POWER
module-str = sense_power
source "subsys/logging/Kconfig.template.log_config"

endif # SPINALI_SENSE_POWER
