/* SPDX-License-Identifier: Apache-2.0 */
/* Copyright 2025 CogniPilot Foundation */

/ {

	aliases {
		imu-stream-0 = &icm45686_0;
		optical-flow-stream-0 = &paa3905;
		argus-stream-0 = &afbr_s50;
	};
};

/* USB Shell IRQ priority lower than SPI IRQs */
&zephyr_udc0 {
	interrupts = <0x43 0x6>;
};

/* AFBR-S50 SPI priority */
&flexcomm3 {
	interrupts = <0x26 0x00>;
};

/* PAA3905 SPI priority */
&flexcomm9 {
	interrupts = <0x2c 0x01>;
};

/* Disable unused sensors */
&bmm350_0 {
	status = "disabled";
};

/* icm45686_1 not aliased — not used for streaming */

/* Lower ethernet MAC interrupt priority to prevent early RX before net stack ready */
&enet_mac {
	interrupts = <0x8b 0x4>, <0x8c 0x4>, <0x8d 0x4>;
};

#include <zephyr/dt-bindings/sensor/icm45686.h>

&icm45686_0 {
	/* Configure to output 4-samples every 1.25-ms (800-Hz) */
	accel-odr = <ICM45686_DT_ACCEL_ODR_3200>;
	gyro-odr = <ICM45686_DT_GYRO_ODR_3200>;
	fifo-watermark = <4>;
	fifo-watermark-equals;
};

&afbr_s50 {
	odr = <100>;
};
