/* SPDX-License-Identifier: Apache-2.0 */
/* Copyright 2025 CogniPilot Foundation */

/ {

	aliases {
		imu-stream-0 = &icm45686_0;
		imu-stream-1 = &icm45686_1;
		mag-stream-0 = &bmm350_0;
		optical-flow-stream-0 = &paa3905;
		argus-stream-0 = &afbr_s50;
	};
};

/* USB Shell IRQ priority lower than SPI IRQs */
&zephyr_udc0 {
	interrupts = <0x43 0x6>;
};

/* AFBR-S50 SPI priority lower than IMU's running at 800-Hz */
&flexcomm3 {
	interrupts = <0x26 0x00>;
};

/* IMU-400Hz SPI priority lower than IMU's running at 800-Hz */
&flexcomm7 {
	interrupts = <0x2a 0x01>;
};

/* PAA3905 SPI priority lower than IMU's running at 800-Hz */
&flexcomm9 {
	interrupts = <0x2c 0x01>;
};

&bmm350_0 {
	odr = "100";
};

#include <zephyr/dt-bindings/sensor/icm45686.h>

&icm45686_0 {
	/* Configure to output 4-samples every 1.25-ms (800-Hz) */
	accel-odr = <ICM45686_DT_ACCEL_ODR_3200>;
	gyro-odr = <ICM45686_DT_GYRO_ODR_3200>;
	fifo-watermark = <4>;
	fifo-watermark-equals;
};

&icm45686_1 {
	/* Configure to output 8-samples every 2.50-ms (400-Hz) */
	accel-odr = <ICM45686_DT_ACCEL_ODR_3200>;
	gyro-odr = <ICM45686_DT_GYRO_ODR_3200>;
	fifo-watermark = <8>;
	fifo-watermark-equals;
};

&afbr_s50 {
	odr = <100>;
};

&paa3905 {
	led-force-on;
};
