/* SPDX-License-Identifier: Apache-2.0 */
/* Copyright 2025 CogniPilot Foundation */

/ {

	aliases {
		accel0 = &icm42688;
		gyro0 = &icm42688;
	};
};

/** Requires enabling I3C. Disabling altogether for now */
&bmm350_0 {
	status = "disabled";
};
