# Copyright (c) 2024, CogniPilot Foundation
# SPDX-License-Identifier: Apache-2.0

menuconfig SPINALI_ACTUATE_DSHOT
  bool "DShot"
  depends on ZROS
  default y if DT_HAS_SPINALI_DSHOT_ACTUATORS_ENABLED
  help
    This option enables dshot actuators

if SPINALI_ACTUATE_DSHOT

config SPINALI_ACTUATE_DSHOT_SHELL
  bool "Enable shell"
  help
    Enable shell

module = SPINALI_ACTUATE_DSHOT
module-str = actuate_dshot
source "subsys/logging/Kconfig.template.log_config"

endif #SPINALI_ACTUATE_DSHOT
