/* SPDX-License-Identifier: Apache-2.0 */
/* Copyright 2025 CogniPilot Foundation */

#include <zephyr/dt-bindings/sensor/rm3100.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <zephyr/dt-bindings/i2c/i2c.h>

/ {
	aliases {
		imu-stream-0 = &icm45686_0;
		mag-stream-0 = &rm3100_0;
		mag-stream-1 = &bmm350_0;
		gnss = &gnss1;
	};
};

/* USB Shell IRQ priority lower than SPI IRQs */
&zephyr_udc0 {
	interrupts = <0x43 0x6>;
};

&bmm350_0 {
	odr = "100";
};

#include <zephyr/dt-bindings/sensor/icm45686.h>

&icm45686_0 {
	/* Configure to output 4-samples every 1.25-ms (800-Hz) */
	accel-odr = <ICM45686_DT_ACCEL_ODR_3200>;
	gyro-odr = <ICM45686_DT_GYRO_ODR_3200>;
	fifo-watermark = <4>;
	fifo-watermark-equals;
};

/* Disable icm45686_1 - FC7 is used for GNSS corrections UART */
&icm45686_1 {
	status = "disabled";
};

/* Disable optical flow board sensors - FC3 is used for GNSS UART */
&afbr_s50 {
	status = "disabled";
};

&paa3905 {
	status = "disabled";
};

&icm42688 {
	status = "disabled";
};

/* Disable optical flow SPI interfaces */
&flexcomm6_lpspi6 {
	status = "disabled";
};

&flexcomm9_lpspi9 {
	status = "disabled";
};

/* Reconfigure FlexCOMM3 from SPI (optical flow) to UART.
 * FC3 wires to the F9P's UART2 (TXD2/RXD2): spare / base-station RTCM
 * output port. Kept enabled as a plain UART.
 */
&flexcomm3_lpspi3 {
	status = "disabled";
};

&flexcomm3_lpuart3 {
	status = "okay";
	pinctrl-0 = <&pinmux_flexcomm3_lpuart>;
	pinctrl-names = "default";
	current-speed = <115200>;
};

/* GNSS primary UART: FC7 wires to the F9P's UART1 (TXD1/RXD1). */
&flexcomm7_lpspi7 {
	status = "disabled";
};

&flexcomm7_lpuart7 {
	status = "okay";
	pinctrl-0 = <&pinmux_flexcomm7_lpuart>;
	pinctrl-names = "default";
	current-speed = <115200>;

	gnss1: gnss {
		status = "okay";
		compatible = "u-blox,f9p";
		fix-rate = <100>;
		initial-baudrate = <38400>;
		reset-gpios = <&gpio3 7 GPIO_ACTIVE_LOW>;
	};
};

/* PNI RM3100 magnetometer on FC4 (P1_8 SDA / P1_9 SCL, DRDY P1_22) */
&flexcomm4 {
	status = "okay";
};

&flexcomm4_lpi2c4 {
	status = "okay";
	pinctrl-0 = <&pinmux_flexcomm4_lpi2c>;
	pinctrl-names = "default";
	clock-frequency = <I2C_BITRATE_FAST>;

	rm3100_0: rm3100@20 {
		status = "okay";
		compatible = "pni,rm3100";
		reg = <0x20>;
		int-gpios = <&gpio1 22 GPIO_ACTIVE_HIGH>;
		odr = <RM3100_DT_ODR_150>;
	};
};

/* Pinctrl for GNSS UARTs and RM3100 I2C */
&pinctrl {
	/* F9P UART2 (TXD2/RXD2): corrections/base output port */
	pinmux_flexcomm3_lpuart: pinmux_flexcomm3_lpuart {
		group0 {
			pinmux = <FC3_P0_PIO1_0>,
				 <FC3_P1_PIO1_1>;
			slew-rate = "fast";
			drive-strength = "low";
			input-enable;
		};
	};

	/* GNSS primary UART (F9P TXD1/RXD1) */
	pinmux_flexcomm7_lpuart: pinmux_flexcomm7_lpuart {
		group0 {
			pinmux = <FC7_P0_PIO3_2>,
				 <FC7_P1_PIO3_3>;
			slew-rate = "fast";
			drive-strength = "low";
			input-enable;
		};
	};

	/* RM3100 I2C (external pull-ups on hub) */
	pinmux_flexcomm4_lpi2c: pinmux_flexcomm4_lpi2c {
		group0 {
			pinmux = <FC4_P0_PIO1_8>,
				 <FC4_P1_PIO1_9>;
			slew-rate = "fast";
			drive-strength = "low";
			drive-open-drain;
			input-enable;
		};
	};
};

/* User buttons, GNSS fix LED, and F9P timepulse */
/ {
	gpio_keys {
		compatible = "gpio-keys";
		button_sw1: button_sw1 {
			gpios = <&gpio1 2 GPIO_ACTIVE_LOW>;
			label = "SW1";
			zephyr,code = <INPUT_KEY_0>;
		};
		button_sw2: button_sw2 {
			gpios = <&gpio1 3 GPIO_ACTIVE_LOW>;
			label = "SW2";
			zephyr,code = <INPUT_KEY_1>;
		};
	};

	gnss_leds {
		compatible = "gpio-leds";
		led_gpsfix: led_gpsfix {
			gpios = <&gpio3 9 GPIO_ACTIVE_HIGH>;
			label = "GPSFIX";
		};
	};

	zephyr,user {
		timepulse-gpios = <&gpio3 8 GPIO_ACTIVE_HIGH>;
	};
};
